main {
  padding: var(--spacetagram-main-padding);
  display: flex;
  flex-grow: 100;
  height: 100%;
  justify-content: center;
  flex-wrap: nowrap;
}

.pageContents {
  display: flex;
  flex-direction: column;
  flex-grow: 100;
  height: 100%;
  max-width: 600px;
}

.listHeader {
  display: flex;
  align-items: center;
  width: 100%;
}

:root {
  --spacetagram-main-padding: 1rem;
  --spacetagram-text-padding: 0.5rem;
  --spacetagram-large-padding: 2rem;
}
